

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');



.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}



.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.body{
    background-color: #F5F8FF;

}
.mainClass{
    width: 1140px;
    margin: 0 auto;
   
}




.navClass{
    /* display:grid;
    grid-template-columns: repeat(2, 1fr); */
    display:flex;
    justify-content: space-between;
}
.logo{
    width: 135px;
    margin-top: 20px;

}
a{
    text-decoration: none;
}
 li{
    list-style: none;

}
.navLi a{
    color: #8987A1; 


}
.cartlogo {
    width: 26px;
    height: 26px;

}
.naULClass{
    margin-top: 53px;
    /* width: 415px; */
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    gap: 40px;
}
.cartClass{
    display: flex;
}





@media screen and (max-width:576px) {
    .navClass{ 
        display: flex;

        width: 100%;
        margin: 0px auto ;
    }
    .cartClass{
        justify-content: space-between;
    }
   
    .hid{
        display: none;
    }
    .naULClass{
        display: flex;
        margin-left: 20px;
        margin-right: 20px;
    }
    
}